@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/shared/ui/styles/reset.css';
@import '@/shared/ui/styles/theme.css';

body {
  background-image: radial-gradient(circle at top, rgb(99 102 241 / 12%), transparent 40%);
}

main {
  display: block;
}
